/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

header div{
    display:flex;
    margin-left:150px;

}
header ul{
    list-style-type: none;
    display:flex;
    margin-left:280px; 
    margin-top: 30px;
}
header a{
    text-decoration: none;
    margin-left :15px;
    color: #6B7280;

}

header a:hover{
    color: #5A67D8;
}




.overview-hero{

    background-color:#E2E8F0;
    display:flex;
    justify-content:center;
    padding-top:30px;
    padding-bottom:30px;
}

.overview-hero-image{
    float:left;
    padding-right:40px;
    

}

/*.overview-hero-text{

    padding-left: 40px;


}*/








/* h1{
    text-align: left;

    margin-top: auto;
    margin-bottom: auto;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: inline-block;
    text-align: right;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
        text-align: right;
       
    
}


* {
    box-sizing: border-box;
 }

 .card-body{

    float: left;
    width: 33%; 

    display: grid;
 
    grid-gap: 10px;
    border: 2px solid #E2E8F0;
   
 } */
 