/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

header div{
    display:flex;
    margin-left:150px;

}
header ul{
    list-style-type: none;
    display:flex;
    margin-left:280px; 
    margin-top: 30px;
}
header a{
    text-decoration: none;
    margin-left :15px;
    color: #6B7280;

}

header a:hover{
    color: #5A67D8;
}


.overview-hero{

    background-color:#E2E8F0;
    display:flex;
    justify-content:center;
    padding-top:30px;
    padding-bottom:30px;
}

.overview-hero-image{
    float:left;
    padding-right:40px;
    

}

.learn-about{

    width:55%;
    margin:auto;

}

.learn-about h2 , .learn-about h3{

    color: #48BB78;
}
   

.learn-about h3{

    font-size: 21px;
}

.learn-about h2{

    font-size: 24px;
}

.cards{

    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 15px;
   
   
} 

.card{
    
    box-shadow: 3px 3px #6B7280;
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 15px;

}

.testing{

  
    background-color: #4A5568;
    margin-top:35px;



}

.testing .container{

    display:flex;
    margin:auto;
    width :60%;
    
}


.testing-desciption{


    color: white;
    padding-top: 100px;
    padding-bottom:100px;

}


.testing-desciption p{

    padding-right: 10%;
}
.cta a{

    text-decoration:none;
    text-transform: uppercase;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius:5px;
    margin-left:25%;
    color: white;
    
   
}

.btn{

    background-color: #48BB78;
    float:right;
    margin-top:100px;
    
   
}

.stories img {

    border-radius : 100%;
    height:200px;
    width:200px;
    padding:20px;
}

article{


    display:flex;
    flex-direction:row;
    gap:25px;
}

.stories .container{

    padding:100px;
    margin:auto;
    width:60%
}

.article-body a{

    text-decoration:none;
    color:#5A67DB;
    font-weight: bold;
}

.stories .container h2{

    color:#5A67DB;

}

.container .article-body h3{

    font-size: 18px;

}
