/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

header div{
    display:flex;
    margin-left:150px;

}
header ul{
    list-style-type: none;
    display:flex;
    margin-left:280px; 
    margin-top: 30px;
}
header a{
    text-decoration: none;
    margin-left :15px;
    color: #6B7280;

}

header a:hover{
    color: #5A67D8;
}


.overview-hero{

    background-color:#E2E8F0;
    display:flex;
    justify-content:center;
    padding-top:30px;
    padding-bottom:30px;
}

.overview-hero-image{
    float:left;
    padding-right:40px;
    border-radius:5px;
    

}

.learn-about{

    width:55%;
    margin:auto;

}

.learn-about h2 , .learn-about h3{

    color: #48BB78;
}
   

.learn-about h3{

    font-size: 21px;
}

.learn-about h2{

    font-size: 24px;
}

.cards{

    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 15px;
   
   
} 

.card{
    
    box-shadow: 3px 3px #6B7280;
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    padding-left: 25px;
    padding-top: 15px;

}

.testing{

  
    background-color: #4A5568;
    margin-top:35px;
    padding-left:100px;
    


}

.testing .container{

    display:flex;
    margin: auto;
    width:60%;
    padding:10px;
   
    
    
}


.testing-desciption{


    color: white;
    padding-top: 100px;
    padding-bottom:100px;

}


.testing-desciption p{

    padding-right: 10%;
}


.cta{

    margin:auto;
    width:50%;
}
.cta a{

    text-decoration:none;
    text-transform: uppercase;
    padding : 10px 20px 10px 20px;
    margin-left:25%;
    color: white;
    border-radius:5px;
    
    
    
   
}

.btn{

    background-color: #48BB78;
    float : right;
    margin-top:100px;
    margin-bottom:100px;
   
}

.stories img {

    border-radius : 100%;
    height:200px;
    width:200px;
    padding:20px;
}

article{


    display:flex;
    flex-direction:row;
    gap:25px;
}

.stories .container{

    padding:100px;
    margin:auto;
    width:60%
}

.article-body a{

    text-decoration:none;
    color:#5A67DB;
    font-weight: bold;
}

.stories .container h2{

    color:#5A67DB;

}

.container .article-body h3{

    font-size: 18px;

}

#email{


    padding: 12px;
    margin: 8px 0;
    display : inline-block;
    border:1px solid white;
    border-radius :4px;
    box-sizing : border-box;
    margin-left:350px;
    

}

.newsletter .container .btn{

    background-color: #5A67D8;
    color:white;
    padding: 12px 20px;
    margin: 8px 0;
    border : none;
    border-radius : 4px;
    cursor: pointer;

}

form{

    display:flex;
    flex-flow: row wrap;
    gap:5px;
    /*justify-content:center;*/
    /*align-items:center;*/
}

.newsletter{

    background-color: #48BB78;
    padding:50px 0;
    /*text-align:center;*/
    color:white;

}

.newsletter .container{

    padding-left:10%;
    padding-right:10%;

    overflow-wrap: break-word;

   


}

.newsletter p {


    padding-right:5%;
    margin-left :32%;
    margin-right:30%;



}

.newsletter h3{

    text-align:center;
}




footer{

    background-color : #4A5568;
    display:grid;
    color : white;
    padding-left:18%;
}

